src/main/mule/cloude1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4af42556-8c03-4ed6-b6b2-d9acd3ae98a7" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="cdaae3a4-7fb3-45f8-a054-94ff417b5f70" file="dev.yaml" />
	<flow name="jenkins-with-muleFlow" doc:id="995ca274-87cb-4be8-8d43-8471c4f17869" >
		<http:listener doc:name="Listener" doc:id="a7ac0109-74aa-4c9c-90ab-a14de490fa5e" config-ref="HTTP_Listener_config" path="/cloud1"/>
		<set-payload value='#[payload]' doc:name="Set Payload" doc:id="11483bde-6c81-4fa3-a394-74663663aced" />
	</flow>
</mule>
